 {
    "VLAN": {
{%- for iface_entry in temp_data.interfaces %}
{%- if loop.index0 > 0 %},{% endif %}
        "Vlan{{ temp_data.general.vlan_base + iface_entry.vlan }}": {
            "members": [
                "{{ iface_entry.dev_name }}"
            ],
            "vlanid": "{{ temp_data.general.vlan_base + iface_entry.vlan }}"
        }
{%- endfor %}
    },
    "VLAN_MEMBER": {
{%- for iface_entry in temp_data.interfaces %}
{%- if loop.index0 > 0 %},{% endif %}
        "Vlan{{ temp_data.general.vlan_base + iface_entry.vlan }}|{{ iface_entry.dev_name }}": {
            "tagging_mode": "untagged"
        }
{%- endfor %}
    },
    "VLAN_INTERFACE": {
{%- for iface_entry in temp_data.interfaces %}
{%- if loop.index0 > 0 %},{% endif %}
        "Vlan{{ temp_data.general.vlan_base + iface_entry.vlan }}|{{ iface_entry.ipv4 }}": {}
{%- endfor %}
    }
}
